*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
  }
  
  body {
    display:flex;
    height:100vh;
    justify-content:center;
    align-items:center;
    padding:10px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6)
  }
  








  